[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py = "*"
astor = "*"
certifi = "*"
gast = "*"
google-pasta = "*"
h5py = "*"
keras-applications = "==1.0.8"
keras-preprocessing = "==1.1.0"
markdown = "==3.1.1"
python-dateutil = "==2.8.0"
pytz = "==2019.1"
six = "==1.12.0"
tb-nightly = "==1.14.0a20190603"
termcolor = "==1.1.0"
tf-estimator-nightly = "==1.14.0.dev2019060501"
werkzeug = "==0.15.4"
wincertstore = "==0.2"
wrapt = "==1.11.2"
matplotlib = "*"
configargparse = "==0.15.1"
tensorboardx = "==1.9"
scipy = "*"
scikit-learn = "*"
orderedset = "*"
psutil = "*"
keras = "==2.3.1"
mashumaro = "*"
numpy= "==1.18.5"
pandas = "==1.2.3"
tensorflow = "==2.1.3"
sphinx-autodoc-typehints = "*"
sphinx-press-theme = "*"

[dev-packages]

[requires]
python_version = "3.7"
